* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.header {
  padding: 10px 20px;
  height: 80px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid;
  background-color: white;
}

.head01{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.header .head01 h1{
  font-size: 35px;
  font-weight: 100;
}

.header .head01 h1 span{
  font-weight: bold;
}

.header .head01 h1:hover{
  cursor: pointer;
}

.head02{
  width: 100%;
  height: 100%;
}

.header .head02 h1 {
  height: 100%;
  font-size: 80px;
}

.head03{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;

}

.header .logo {
  width: 100px;
}

.header .logo img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.header .logo img:hover {
  width: 75px;
  height: 75px;
  transition: 0.7s;
}

.header .login {
  width: 100px;
}

.header .login img {
  width: 65px;
  height: 65px;
  background-color: transparent;
  cursor: pointer;
}

.header .login img:hover {
  width: 75px;
  height: 75px;
  transition: 0.5s;
}

.header .login button{
  outline: none;
  background-color: white;
  border: none;
}

.wrapper {
  background-color: white;
}

.crud {
  width: 100%;
  height: 90px;;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.crud input[type="text"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  width: 800px;
  background-color: transparent;
  color: black;
  outline: none;
  height: 50px;
  font-size: 25px;
}

.crud select {
  border: 1px black solid;
  outline: none;
  background-color: transparent;
  font-size: 25px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.crud button {
  border: 1px black solid;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-weight: 400;
  background-color: rgb(37, 36, 36);
  color: white;
}

.crud button:hover {
  height: 60px;
  font-size: 25px;
  transition: 0.5s;
  cursor: pointer;
  font-weight: 490;
}

input::placeholder {
  color: black;
  font-size: 25px;
}

.quotes {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.quote {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.quote h1 {
  font-size: 25px;
  font-weight: 400;
}

.quote h2 {
  font-weight: 600;
  font-size: 23px;
}

.toDoWrapper {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Allow items to wrap onto multiple lines */
  overflow-x: auto; /* Allow horizontal scrolling if the content overflows */
  overflow-y: hidden;
  gap: 38px;
  padding: 10px;
}

.toDoColor {
  min-width: 300px;
  max-width: 300px;
  height: 460px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  font-weight: 600;
  padding: 20px;
  box-shadow: 10px 8px 10px 5px rgb(198, 198, 198);
  opacity: 0.95;
}

.toDoColor .toDoBtnEdit button img {
  width: 40px;
  height: 40px;
}

.toDoColor .toDoBtnEdit button img:hover {
  width: 45px;
  height: 45px;
  transition: 0.5s;
}

.toDoColor .toDoText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
  overflow: hidden;
}

.toDoColor .toDoText h1 {
  padding: 0px 10px;
  font-weight: 550;
  font-size: 40px;
}

.toDoColor .toDoBtn {
  width: 100%;
  height: 60px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.toDoColor .toDoBtn button {
  border: none;
  outline: none;
  width: 100px;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.toDoColor .toDoBtn button img {
  width: 50px;
  height: 50px;
}

.toDoColor .toDoBtn button img:hover {
  width: 60px;
  height: 60px;
  transition: 0.5s;
}

.footer {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-top: 1px solid black;
}

.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footerWrapper img {
  width: 90px;
  height: 90px;
  cursor: pointer;
}

.footer h1 {
  font-size: 25px;
}

.saveToDo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0;
  padding-top: 70px;
}

.saveToDoBtns{
  display: flex;
  gap: 30px;
}

.saveToDoBtns button{
  font-size: 40px;
}

.saveToDo input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  display: flex;
  text-align: center;
  background-color: transparent;
  width: 200px;
  height: 30px;
  font-size: 30px;
  outline: none;
}

.saveToDo button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.saveToDo button img {
  width: 60px;
  height: 60px;
}

.sign {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sign .formContainer .titleContainer h1 {
  font-size: 80px;
}

.sign .formContainer {
  background-color: yellow;
  opacity: 0.91;
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 8px 8px 22px 10px rgb(14, 2, 2);
}

.sign .formContainer .headerContainer{
    height: 50px;
    width: 90%;
    display: flex;
    text-align: left;
    align-items: left;
    border-bottom: 2px solid;
    background-color: white;
    background-color: transparent;
    text-decoration: none;
    border: none;
    transition: 1s;
    cursor: pointer;
}

.sign .formContainer .headerContainer img{
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.sign .formContainer .headerContainer img:hover{
    width: 42px;
    height: 42px;
}

.sign .formContainer form {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sign .formContainer form input {
  background-color: transparent;
  width: 70%;
  height: 40px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  font-size: 30px;
}

.sign .submitButton {
  border: 2px solid black;
  cursor: pointer;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  font-size: 30px;
  background: transparent;
}

.sign .submitButton:hover {
  background-color: black;
  color: white;
  width: 350px;
  transition: 0.5s;
}

.sign .formContainer .links a p {
  font-size: 25px;
  color: black;
  border: none;
  outline: none;
}

.sign .formContainer .links a p:hover {
  transition: 0.5s;
  color: blue;
}

.sign .links {
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: top;
  justify-content: center;
  border: none;
}

@media (max-width: 992px){


  *{
    max-width: 100%;
  }

  .header {
    height: 5rem;
    padding: 10px 0px;
}

  .header .head02 h1 {
    height: 100%;
    font-size: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.header .login img {
  width: 35px;
  height: 35px;
}

.quote h1 {
  font-size: 17px;
}

.header .logo img {
  width: 30px;
  height: 30px;
}

.crud select {
  height: 40px;
  width: 90px;
  font-size: 13px;
}

.crud input[type="text"] {
  width: 160px;
  height: 40px;
}

#myPlaceholder::placeholder{
  font-size: 20px;
}

.crud button {
  width: 75px;
  font-size: 13px;
  height: 40px;
}


.toDoColor .toDoText h1 {
  font-size: 18px;
}

.footerWrapper img {
  width: 50px;
  height: 50px;
}

.toDoColor {
  min-width: 130px;
  max-width: 130px;
  height: 200px;
  border-radius: 10px;
}

.footer h1 {
  font-size: 20px;
}

.toDoWrapper {

  height: 100%;
  padding: 15px 10px;
  gap: 10px;

}

.toDoColor .toDoBtn button img {
  width: 25px;
  height: 25px;
}

.quote h2 {
  font-weight: 600;
  font-size: 18px;
}

.quote {
  padding: 0px 20px;
}

.quotes{
  min-width: 100%;
  padding: 10px 0px;
}


.saveToDo {
  height: 60px;
  gap: 20px;
  padding: 40px 0px;
}

.saveToDo button img {
  width: 35px;
  height: 35px;
}


.saveToDo input {
  width: 100%;
  font-size: 20px;
}

.saveToDoBtns {
  display: flex;
  gap: 10px;
}

.saveToDoBtns button {
  font-size: 20px;
}

.toDoColor .toDoBtn {
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.toDoColor .toDoBtn button {
  width: 50px;

}

.crud button:hover {
  width: 75px;
  height: 40px;
  font-size: 13px;

}

.quoteLoading{
  font-size: 13px;
}

.crud {

  height: 80px;

}

.sign .formContainer .titleContainer h1 {
  font-size: 50px;
}

.sign .formContainer {
  width: 320px;
  height: 500px;
  border-radius: 15px;
}

.sign .formContainer form {
  gap: 40px;
}

.sign .formContainer .links a p {
  font-size: 20px;
}

#mySecondPlaceholder::placeholder{
  font-size: 20px;
}

.sign form input[type="submit"] {
  font-size: 20px;
  width: 100px;
  height: 40px;
}

.sign .formContainer .headerContainer img{
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.sign .formContainer .headerContainer img:hover{
  width: 33px;
  height: 33px;
}

.header .head01 h1 {
  width: 80px;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
}

.sign .formContainer form input {
  font-size: 20px;
}

.toDoColor .toDoBtn button img:hover {
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

}
