* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.header {
  padding: 10px 20px;
  height: 10vh;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid;
  background-color: white;
}

.head01{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.header .head01 h1{
  font-size: 35px;
  font-weight: 100;
}

.header .head01 h1 span{
  font-weight: bold;
}

.header .head01 h1:hover{
  cursor: pointer;
}

.head02{
  width: 100%;
  height: 100%;
}

.header .head02 h1 {
  height: 100%;
  font-size: 80px;
}

.head03{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;

}

.header .logo {
  width: 100px;
}

.header .logo img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.7s;
}

.header .logo img:hover {
  width: 75px;
  height: 75px;
}

.header .login {
  width: 100px;
}

.header .login img {
  width: 65px;
  height: 65px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}

.header .login img:hover {
  width: 75px;
  height: 75px;
}

.header .login button{
  outline: none;
  background-color: white;
  border: none;
}

.wrapper {
  background-color: white;
}

.crud {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.crud input[type="text"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  width: 30%;
  background-color: transparent;
  color: black;
  outline: none;
  height: 50px;
  font-size: 25px;
}

.crud select {
  border: 1px black solid;
  outline: none;
  background-color: transparent;
  font-size: 25px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.crud button {
  border: 1px black solid;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-weight: 400;
  background-color: rgb(37, 36, 36);
  color: white;
  transition: 0.5s;
}

.crud button:hover {
  height: 60px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 490;
}

input::placeholder {
  color: black;
  font-size: 25px;
}

.quotes {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.quote {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  padding: 1% 3%;

}

.quote h1 {
  font-size: 1.6rem;
  font-weight: 400;
}

.quote h2 {
  font-weight: 600;
  font-size: 23px;
}

.toDoWrapper {
  position: relative;
  height: 55vh;
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Allow items to wrap onto multiple lines */
  overflow-x: auto; /* Allow horizontal scrolling if the content overflows */
  overflow-y: hidden;
  gap: 38px;
  padding: 10px;
}

.toDoColor {
  min-width: 300px;
  max-width: 300px;
  height: 93%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  font-weight: 600;
  padding: 20px;
  box-shadow: 10px 8px 10px 5px rgb(198, 198, 198);
  opacity: 0.95;
  transition: 0.5s;
  cursor: pointer;
}

.toDoColor:hover{
  min-width: 310px;
  max-width: 310px;
}

.toDoColor .toDoBtnEdit button img {
  width: 40px;
  height: 40px;
}

.toDoColor .toDoBtn .specialButton img{
  width: 60px;
  height: 60px;
}

.toDoColor .toDoBtnEdit button img:hover {
  width: 45px;
  height: 45px;
  transition: 0.5s;
}

.toDoColor .toDoText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
  overflow: hidden;
}


.toDoDone h1 {
  text-decoration: line-through;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
  overflow: hidden;
}

.toDoColor .toDoText h1 {
  padding: 0px 10px;
  font-weight: 550;
  font-size: 40px;
}

.toDoColor .toDoBtn {
  width: 80%;
  height: 60px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.toDoColor .toDoBtn button {
  border: none;
  outline: none;
  width: 100px;
  height: 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.toDoColor .toDoBtn button img {
  width: 50px;
  height: 50px;
}

.toDoColor .toDoBtn button img:hover {
  width: 60px;
  height: 60px;
  transition: 0.5s;
}

.footer {
  width: 100%;
  height: 12vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-top: 1px solid black;
}

.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footerWrapper img {
  position: relative;
  width: 65px;
  height: 65px;
  cursor: pointer;
}

.footer h1 {
  font-size: 25px;
}

.saveToDo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0;
  padding-top: 70px;
}

.saveToDoBtns{
  display: flex;
  gap: 30px;
}

.saveToDoBtns button{
  font-size: 40px;
}

.saveToDo input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  display: flex;
  text-align: center;
  background-color: transparent;
  width: 200px;
  height: 30px;
  font-size: 30px;
  outline: none;
}

.saveToDo button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.saveToDo button img {
  width: 60px;
  height: 60px;
}

.sign {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sign .formContainer .titleContainer h1 {
  font-size: 80px;
}

.sign .formContainer {
  background-color: yellow;
  opacity: 0.91;
  width: 40%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 8px 8px 22px 10px rgb(14, 2, 2);
}

.sign .formContainer .headerContainer{
    height: 50px;
    width: 90%;
    display: flex;
    text-align: left;
    align-items: left;
    border-bottom: 2px solid;
    background-color: white;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.sign .formContainer .headerContainer img{
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    transition: 0.5s;
}

.sign .formContainer .headerContainer img:hover{
    width: 5rem;
    height: 5rem;
}

.sign .formContainer form {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sign .formContainer form input {
  background-color: transparent;
  width: 70%;
  height: 10%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  font-size: 1.7rem;
}

.sign .submitButton {
  border: 2px solid black;
  cursor: pointer;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  font-size: 30px;
  background: transparent;
  transition: 0.5s;
}

.sign .submitButton:hover {
  background-color: black;
  color: white;
  width: 350px;
}

.sign .formContainer .links a p {
  font-size: 1.7em;
  height: 10px;
  color: black;
  border: none;
  outline: none;
  transition: 0.5s;

}

.sign .formContainer .links a p:hover {
  font-size: 1.8em;
  color: blue;
}

.sign .links {
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: top;
  justify-content: center;
  border: none;
}

.imageContainer{
  display: flex;
  align-items: center;
  justify-content: center;

}

.habitWindow{
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 75.1vh;
}


.addHabit{
  display: flex;
  font-size: 40px;
  width: 70vw;
  height: 12vh;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
}

.addHabit button{
  border: 1px black solid;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-weight: 400;
  background-color: rgb(37, 36, 36);
  color: white;
  transition: 0.5s;
}

.addHabit button:hover{
  height: 60px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 490;
}

.addHabit select{
  border: 1px black solid;
  outline: none;
  background-color: transparent;
  font-size: 25px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.addHabit input[type="text"]{
  width: 90%;
  height: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  font-size: 25px;
  border-bottom: 0.15rem black solid;
  padding: 5px;
}

.habitMockSection{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 2px;
  transition: 0.5s;
  cursor: pointer;
}

.habitList{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  align-items: center;
}


.habit{
  font-size: 3rem;
  height: 12vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
}

.habit:hover{
  height: 13vh;
  display: flex;
  gap: 30px;
  width: 85%; 
  font-size: 3.2;
}

.habit img{
  width: 5.5vh;
  height: 5.5vh;
  background-color: transparent;
  transition: 0.5s;
  cursor: pointer;
}

.habit img:hover{
  width: 5.8vh;
  height: 5.8vh;
  
}

.habit .title{
  height: 100%;
  width: 75%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 2.9rem;
  justify-content: center;
}

.habit .counter{
  display: flex;
  gap: 15px;
  text-align: center;
  align-items: center;
  width: 25%;
  justify-content: left;
  padding-left: 1rem;
  height: 100%;
}

.habit .counter p{
  font-size: 1.2rem;
  font-weight: bold;
}

.habit .buttons{
  display: flex;
  gap: 30px;
  width: 25%;
  justify-content: right;
  padding-right: 1rem;
  align-items: center;
  height: 100%;

}

.habit button{
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  right: 1px;
}

.editHabit{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.editHabitBox01{
  display: flex;
  justify-content: center;
  align-items: center;
}

.editHabitBox02{
  display: flex;
  height: 100%;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.editHabit input[type = "text"]{
  width: 90%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  height: 50%;
  border-right: none;
  outline: none;
  border-bottom: 2px black solid;
  font-size: 1.6rem;
}

.editHabit select{
  background-color: transparent;
  height: 40%;
  border-radius: 0.4rem;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  border: 2px black solid;

}

.counter input{
  width: 40%;
  height: 50%;
  background-color: white;
  align-items: center;
  text-align: center;
  font-size: 30px;
  border: none;
  border-radius: 3px;
}

.hidden{
  display: none;
}

.menu{

  display: flex;
  flex-direction: column;

}

.menuHeader{
  display: flex;
  align-items: center;
  justify-content: right;
  height: 10vh;
  width: 100%;
}

.menuClose{
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 3rem;
  margin-top: 1.5rem;

}

.menuClose img{
  height: 50px;
  width: 50px;
}


.menuItens{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  gap: 25px;
}

.menuItens button{
  font-size: 5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  z-index: 10000;
}


.menuItens button:hover{
  font-size: 5.3rem;
}

@media (max-width: 992px){

  *{
    max-width: 100%;
    max-height: 100vh;
  }

  .header {
    height: 10vh;
    padding: 10px 0px;
}

  .header .head02 h1 {
    height: 100%;
    font-size: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.header .login img {
  width: 35px;
  height: 35px;
}

.quote h1 {
  font-size: 1rem;
}

.header .logo img {
  width: 30px;
  height: 30px;
}

.crud select {
  height: 40px;
  width: 90px;
  font-size: 13px;
}

.crud input[type="text"] {
  height: 40px;
  width: 45%;
}

#myPlaceholder::placeholder{
  font-size: 15px;
}

.crud button {
  width: 75px;
  font-size: 13px;
  height: 40px;
}


.toDoColor .toDoText h1 {
  font-size: 18px;
}

.footer{
  height: 13vh;
}

.footerWrapper img {
  width: 50px;
  height: 50px;
}

.toDoColor {
  min-width: 37%;
  max-width: 37%;
  height: 78%;
  border-radius: 10px;
}

.toDoColor:hover {
  min-width: 42%;
  max-width: 42%;
  height: 80%;
  border-radius: 10px;
}

.footer h1 {
  font-size: 20px;
}

.toDoWrapper {
  padding: 1px 10px;
  height: 38vh;
  gap: 10px;

}

.toDoColor .toDoBtn button img {
  width: 25px;
  height: 25px;
}

.quote h2 {
  font-weight: 600;
  font-size: 18px;
}

.quote {
  padding: 0px 5px;
}

.quotes{
  min-width: 100%;
  height: 14vh;
  padding: 5px 0px;
}


.saveToDo {
  height: 60px;
  gap: 20px;
  padding: 40px 0px;
}

.saveToDo button img {
  width: 35px;
  height: 35px;
}


.saveToDo input {
  width: 100%;
  font-size: 20px;
}

.saveToDoBtns {
  display: flex;
  gap: 10px;
}

.saveToDoBtns button {
  font-size: 20px;
}

.toDoColor .toDoBtn {
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.toDoColor .toDoBtn button {
  width: 50px;

}

.crud button:hover {
  width: 75px;
  height: 50px;
  font-size: 13px;

}

.quoteLoading{
  font-size: 13px;
}

.crud {

  height: 14vh;

}

.sign .formContainer .titleContainer h1 {
  font-size: 50px;
}

.sign .formContainer {
  width: 90%;
  height: 70vh;
  border-radius: 15px;
}

.sign .formContainer form {
  gap: 40px;
}

.sign .formContainer .links a p {
  font-size: 1.2em;
}

.sign .formContainer .links a p:hover {
  font-size: 1.3em;
  color: blue;
}

#mySecondPlaceholder::placeholder{
  font-size: 20px;
}

.sign form input[type="submit"] {
  font-size: 20px;
  width: 100px;
  height: 40px;
}

.sign .formContainer .headerContainer .imageContainer img{
  width: 35px;
  height: 35px;
  background-color: transparent;
  transition: 0.5s;
}

.sign .formContainer .headerContainer .imageContainer img:hover{
  width: 33px;
  height: 33px;
}

.header .head01 h1 {
  width: 80px;
  text-align: center;
  font-size: 1.2rem;
  padding: 0px 5px;
  font-weight: 100;
}

.sign .formContainer form input {
  font-size: 20px;
  width: 90%;
}

.sign .submitButton{
  width: 40%;
  height: 13%;
  font-size: 20px;
  transition: 0.5s;
}

.sign .submitButton:hover{
  width: 55%;
  height: 14%;
}

.toDoColor .toDoBtn button img:hover {
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.sign .links{
  height: 10%;
}

.header .login img:hover{
  width: 40px;
  height: 40px;
}

.header .logo img:hover{
  width: 40px;
  height: 40px;
}

.habitWindow{
  height: 72.5vh;
  width: 100%;
}


.menuItens button{
    font-size: 3rem;
} 
.menuItens button:hover{
    font-size: 3.5rem;
} 

.menuClose img{
  width: 2rem;
  height: 2rem;
}

.menuClose img:hover{
  width: 2.5rem;
  height: 2.5rem;
}

.addHabit{
  width: 100%;
  height: 10vh;
  gap: 0.3rem;
}


.addHabit select{
  font-size: 15px;
  height: 31.5px;
  width: 5.5rem;
}


.addHabit input[type = "text"]{
  position: relative;
  width: 50vw;
  height: 2vh;
  font-size: 1.2rem;
}


.addHabit button{
  width: 4rem;
  height: 5vh;
  font-size: 1rem;
  margin: 0;
}
.addHabit button:hover{
  width: 4.2rem;
  height: 5.2vh;
  font-size: 1rem;
  margin: 0;
}

.habit{
  width: 90%;
  font-size: 1.2rem;
  justify-content: center;
  gap: 25px;
}

.habit:hover{
  width: 95%;
  font-size: 1.3rem;
}


.habit .title{
  font-size: 1rem;
  width: 70%;
}


.habit .counter p{
  font-size: 0.55rem;
}


.habit .buttons {
  display: flex;
  gap: 0.5rem;
  width: 25%;
  justify-content: center;
  padding: 0;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.habit img {
    width: 4vh;
    height: 3vh;
}


.habit img:hover {
    width: 4.5vh;
    height: 3.5vh;
}


.habit .counter{
  width: 25%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-direction: column;
}

.counter input{
  width: 60%;
  height: 15%;
  font-size: 0.7rem;
}

.editHabit{
  gap: 2px;
  flex-direction: column;
}


.editHabit input[type="text"]::placeholder {
  font-size: 0.8rem; /* change to whatever size you want */
}


.editHabit input[type="text"] {
  font-size: 1rem; /* change to whatever size you want */
  width: 100%;
}



.addHabit input[type="text"]::placeholder {
  font-size: 1rem; /* change to whatever size you want */
}

.editHabit select {
    background-color: transparent;
    height: 80%;
    border-radius: 0.4rem;
    width: 80%;
    text-align: center;
    align-items: center;
    font-size: 0.6rem;
    border: 2px black solid;
}

.editHabitBox01{
  height: 5rem;
}

.editHabitBox02{
  width: 100%;
}

.toDoColor .toDoBtn .specialButton img{
  width: 2rem;
  height: 2rem;
}

}
