*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #fffff0df;
}

.header{
  padding: 10px 20px;
  height: 85px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center; 
  border-bottom: 2px solid black;
}

.header .logo{
  width: 100px;
}

.header .logo img{
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.header .logo img:hover{
  width: 75px;
  height: 75px;
  transition: 0.7s;
}

.header h1{
  height: 100%;
  font-size: 80px;
}

.header .login{
  width: 100px;
}

.header .login img{
    width: 60px;
    height: 60px;
    background-color: transparent;
    cursor: pointer;
}

.header .login img:hover{
  width: 75px;
  height: 75px;
  transition: 0.5s;
}

.crud{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.crud input[type="text"]{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    width: 800px;
    background-color: transparent;
    color: black;
    outline: none;
    height: 50px;
    font-size: 25px;
}

.crud select{
  border: 1px black solid;
  outline: none;
  background-color: transparent;
  font-size: 25px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.crud button{
  border: 1px black solid;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-weight: 400;
  background-color: lightgreen;
}

.crud button:hover{
  height: 60px;
  font-size: 25px;
  transition: 0.5s;
  cursor: pointer;
  font-weight: 490;
}

input::placeholder{
  color: black;
  font-size: 25px;
}

.quotes{
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quote{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.quote h1{
  font-size: 30px;
}

.quote h2{
  font-weight: 400;
}

.toDoWrapper{
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Allow items to wrap onto multiple lines */
  overflow-x: auto; /* Allow horizontal scrolling if the content overflows */
  gap: 25px;
  padding: 10px;
}

.toDoColor{
  min-width: 350px;
  height: 450px;
  border-radius: 30px;
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  font-weight: 600;
  box-shadow: 10px 8px 10px 5px rgb(198, 198, 198);
}

.footer{
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 2px solid black;
}


.footerWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.footerWrapper img{
  width: 95px;
  height: 95px;
  cursor: pointer;
}

.footerWrapper h1{
  font-size: 25px;
}